@{
    ViewData["Title"] = "Statistieken";
}
<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Naam
            </th>
            <th>
                Won
            </th>
            <th>
                Lost
            </th>
            <th>
                Draw
            </th>
        </tr>
    </thead>
    <tbody>
            @foreach (Player player in ViewBag.PlayerData)
            {
                    <tr>
                        <td>
                            @player.Name
                        </td>
                        <td>
                            @player.GamesWon
                        </td>
                        <td>
                            @player.GamesLost
                        </td>
                        <td>
                            @player.GamesDraw
                        </td>
                    </tr>
            }
    </tbody>
</table>
