@model ReversiMvcApp.Models.Game

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

@if (ViewBag.ErrorMessage != null)
{
    <div>
        <h4>Game</h4>
        <hr />
        <div class="alert alert-danger">
                <p class="mb-0">Er is een fout opgetreden: @ViewBag.ErrorMessage.message</p>
            </div>
    </div>
    
    return;
}

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div class="game-container loading">
    <div class="spinner">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div id="game_board" class="container-grid">
        @for (int x = 1; x <= 8; x++)
        {
            @for (int y = 1; y <= 8; y++)
            {
                string className;

                if (y % 2 == 0)
                {
                    if (x % 2 == 0)
                    {
                        className = "odd";
                    }
                    else
                    {
                        className = "even";
                    }
                }
                else
                {
                    if (x % 2 == 0)
                    {
                        className = "even";
                    }
                    else
                    {
                        className = "odd";
                    }
                }

                <div class="@className"></div>
            }
        }
    </div>
</div>
<div>
    <form asp-action="LeaveGame" method="post">
        <input name="token" type="hidden" value="@Model.Token"/>
        <p id="skip_turn" class="mb-0 d-inline-block btn btn-info">Beurt overslaan</p>
        <input type="submit" value="Leave" class="btn btn-danger"/>
        <p id="game_state" class="mb-0 d-inline-block position-relative"></p>
    </form>
</div>

<script>
$(() => {
    Game.Reversi.init('@ViewBag.ApiUrl', {
        gameToken: '@Model.Token',
        playerToken: '@ViewBag.CurrentUserId',
    }, () => {
        $('.game-container').removeClass('loading');
    })
})
</script>
